language: generic
env: MY_BEDROOM=$HOME/bedroom SCRIPT_HOME=$MY_BEDROOM/script RBENV_HOME=$HOME/.rbenv RBENV_VERSIONS=$RBENV_HOME/versions RUBY_2_VERSION=2.4.1 BINTRAY_USER_NAME=athrunsun OS_NAME=osx
branches:
  only:
  - master
matrix:
  include:
  - os: osx
    osx_image: xcode6.4
  - os: osx
    osx_image: xcode7.3
  - os: osx
    osx_image: xcode8.1
#install:
#- "mkdir $MY_BEDROOM"
#- ". $TRAVIS_BUILD_DIR/clone.sh"
#- "rm -rf $RBENV_HOME"
script:
#- ". install_ruby.sh"
#- ". upload_to_bintray.sh"
- "ls -alh /usr/local/lib"
- "ls -alh /usr/local/lib/ruby"
- "ls -alh ~/.rvm"
